<div class="wrapper back-image">
    
    <div class="center-text">
        <h3>{{'Sweaters \n' }}</h3>
        <br>
    <p>Explore our collection</p>
</div>
    
</div>
<div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="offers" >
<div class="section top">
<p>Tops</p>
</div>

<div class="section jeans">
    <p>Jeans</p>
</div>

<div class="section outerwear">
    <p>Outerwear</p>
</div>

<div class="section footwear">
    <p>Footwear</p>
</div>

</div>

<div class="our-clothing">
    <h2>Our clothing</h2>
    <!--<img src="../../../assets/images/products/image12.jpg"/>-->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sollicitudin mi, sed convallis elit. Nam nisl justo, tempus quis odio quis, tempus dictum ex. Sed vulputate orci risus, ut dapibus nulla imperdiet eget. Integer vitae nisl diam. Nunc nec odio vitae libero blandit malesuada at sed leo. Nunc dictum massa erat, vitae vehicula metus iaculis non. Integer posuere erat vel placerat scelerisque. Aenean consequat dolor sit amet massa hendrerit lacinia. Sed sagittis et lorem at semper. Mauris suscipit sem at elit eleifend sagittis. Aliquam erat volutpat.</p>
    
</div>

