.wrapper{
    width:100%;
    
    display:flex;
    align-items: center;
    padding: 20px 10px;
    background-color: transparent;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
    color:black;
}

a.active{
    font-weight: 700;
}

.logo{
    
    object-fit: contain;
    margin-right: auto;

    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-100%); /* Initially position the logo off-screen to the left */
    animation: slideAndFade 1.5s ease-in-out forwards; 
}

.center{
    align-items: center;
}

@keyframes slideAndFade {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}