<h1 class="title">About Us</h1>
<div class="wrapper">
<p >According to all known laws
of aviation,
 
there is no way a bee
should be able to fly.</p>

 
<p>Its wings are too small to get
its fat little body off the ground.
 
The bee, of course, flies anyway
 
because bees don't care
what humans think is impossible.</p>

<p>
BARRY BENSON:
(Barry is picking out a shirt)
Yellow, black. Yellow, black.
Yellow, black. Yellow, black.</p>
<p></p><p>
Ooh, black and yellow!
Let's shake it up a little.
JANET BENSON:
Barry! Breakfast is ready!
BARRY:
Coming!
</p>
<p>
Hang on a second.
(Barry uses his antenna like a phone)

Hello?
ADAM FLAYMAN:

(Through phone)
- Barry?
BARRY:
- Adam?</p>
<p>ADAM:
- Can you believe this is happening?
BARRY:
- I can't. I'll pick you up.
(Barry flies down the stairs)
</p>

</div>